@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Bold.woff") format('woff'), url("../fonts/Montserrat-Bold.woff2") format('woff2');
	font-weight: 700;
}


.container,
.header,
.content,
.main,
.text,
.main__section,
.main__item,
.main__item-big,
.footer,
.footer-item {
	display: flex;
}

.container {
	flex-flow: wrap column;
	width: 100vw;
	min-height: 100vh;

	font-family: 'Montserrat', serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}


.header,
.footer {
	flex: 0 0 100%;
	
	background-color: #E0E0E0;
}

.header {
	justify-content: center;
	align-items: center;

	padding: 2%;
}

.content {
	flex: 1 0 100%;
	background-color: #FFF8E3;
}

.main {
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 auto;
	max-width: 100%;
	padding: 1%;
}

.text {
	padding: 1%;
}

.main__section {
	flex-wrap: wrap;
	height: 50%;
}

.text,
.main__section,
.main__item,
.main__item-big{
	justify-content: center;
	align-items: center;
}

.main__item {
	width: 48%;
	height: 45%;
	margin: 0 1% 1% 1%;
	padding: 1%;
	background-color: #FEEAB9;
}

.main__item-big {
	flex-grow: 1;
	height: 50%;
	margin: 0 1%;
	padding: 1%;
	background-color: #FEEAB9;
}

.aside {
	flex: 0 0 auto;
	padding: 1%;
	width: 30vw;
	background-color: #DDECCB;
}

.footer {
	justify-content: space-between;
	padding: 2%;
}

.footer__item {
	padding: 2%;
	background-color: #FAFAFA;
}